# Homework 05 - Moving Average Function

### Instructions: 
  → Create a Moving Average Function.
  
  → Don't use `rolling` method.
  
  → Apply to the *AirPassengers.csv* table.

## Previous steps

### Prepare Data

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose

In [2]:
read_dir = r'C:\Users\grace\Documents\TemasSelectosAdicionales'
file_name = 'AirPassengers.csv'
read_path = os.path.join(read_dir, file_name)

### Read File

In [3]:
data = pd.read_csv(read_path)
data.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

### Rename Fields

In [4]:
data.columns = ['month','n_passengers']
data = data.set_index('month')
data.index = pd.to_datetime(data.index)
data.head()

            n_passengers
month
1949-01-01           112
1949-02-01           118
1949-03-01           132
1949-04-01           129
1949-05-01           121

## Moving Average Function

In [5]:
w = int(input("Introduce the window length: "))

moving_avg = [np.nan] * w

for i in range(w, len(data)):
    wndw = data.iloc[i-w:i, 0]
    wndw_avg = wndw.mean()
    moving_avg.append(wndw_avg)

data[f'moving_avg_{w}'] = moving_avg

print(data)

Introduce the window length: 3
            n_passengers  moving_avg_3
month
1949-01-01           112           NaN
1949-02-01           118           NaN
1949-03-01           132           NaN
1949-04-01           129    120.666667
1949-05-01           121    126.333333
...                  ...           ...
1960-08-01           606    543.000000
1960-09-01           508    587.666667
1960-10-01           461    578.666667
1960-11-01           390    525.000000
1960-12-01           432    453.000000

[144 rows x 2 columns]